@model BlogMVCApp.Models.ArticleTravelModel
@{ 
    var articles = Model;
}

<div class="col-md-12">
    <div class="blog-entry-2 ftco-animate">
        <a href="single.html" class="img" style="background-image: url(/Content/images/@articles.ImagePath);"></a>
        <div class="text pt-4">
            <h3 class="mb-4"><a href="#">@articles.Title</a></h3>
            <p class="mb-4">@articles.ShortDescription</p>
            <div class="author mb-4 d-flex align-items-center">
                <a href="#" class="img" style="background-image: url(/Content/images/@articles.AuthorImage);"></a>
                <div class="ml-3 info">
                    <span>Written by</span>
                    <h3><a href="#">@articles.AuthorName</a>, <span>@articles.WrittenDate</span></h3>
                </div>
            </div>
            <div class="meta-wrap d-md-flex align-items-center">
                <div class="half order-md-last text-md-right">
                    <p class="meta">
                        <span><i class="icon-heart"></i>3</span>
                        <span><i class="icon-eye"></i>@articles.ViewCount</span>
                        <span><i class="icon-comment"></i>@articles.CommentsCount</span>
                    </p>
                </div>
                <div class="half">
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
